<div class="information">
  <h2><%= @page_title %></h2>
  
    <% flash.each do |key, value| %>
      <p class="alert alert__< key %>">
        <%= value %>
      </p>
    <% end %>

    <% if @post.errors.any? %>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
        <% end %>
      </ul>
　　<% end %>
</div>